<h3>
  My Movies
  <small>
    Note: At the moment the app only stores the movie id numbers and not the titles.
  </small>
</h3>


Movies I like: 
<% @favorites.each do |movie| %>
  <li><%= movie %></li>
<% end %>

<br>

Movies I dislike:
<% @dislikes.each do |movie| %>
  <li><%= movie %></li>
<% end %>  