<h3>
  Movie Finder
  <small>
    Hello world! I built this app while learning how to code at <a href="http://www.bloc.io/" target="_blank">Bloc</a>. It's very basic as it was a learning exercise. I am now more familiar with things like REDIS, JSON, and APIs (this app uses the Rotten Tomatoes API). The app also has a number of bugs which I never got to fix due to a lack of time but I hope you enjoy testing it out.
    <br>Thanks, <a href="http://michaeltefula.com/", target="_blank">Michael</a>.
  </small>
  <hr>
</h3>