<br>
<div class="container">

      <div class="jumbotron">
        <h1>Find Me a Movie</h1>
        <p class="lead">
          A simple movie suggestion app. Sign in with Facebook. Add a 3 to 5 favorite movies so the app
          knows what you like. Then click <i>Find me a Movie</i> on the menu to get awesome suggestions.
        </p>
        <p><a class="btn btn-lg btn-success" href="/users/auth/facebook" role="button">Sign In With Facebook</a></p>
      </div>


<hr>

      <div class="footer">
        <p>&copy; MT 2014</p>
      </div>
</div> <!-- /container -->
