
 

  <h1>
    A Recommendation App for Movies and Restaurants.
    <small>Suggestions are based on your Facebook Likes and Interests.</small>
  </h1>

<br>
<a href="#" class="btn btn-lg btn-default">Sign In With Facebook</a>

<!-- Description -->
<div id="benefits">
  <h2>How does it work?</h2>
  <p>Sign in with your Facebook account and the app will use your likes and interests for suggestions.</p>
</div>



